<body>
    <div class="container" align="center">
        <h1>Quiénes Somos</h1>
        <p>Bienvenidos a Lilian's, tu destino de belleza y maquillaje. Somos un equipo apasionado por el arte del maquillaje y la estética, dedicados a realzar la belleza única de cada persona.</p>
        <p>En Lilian's, creemos que el maquillaje es una forma de expresión personal. Nuestra misión es empoderar a nuestros clientes a través de productos de calidad y servicios excepcionales, brindando una experiencia única en cada visita.</p>
        <p>Desde nuestros inicios, hemos trabajado para ofrecer una amplia gama de productos que se adaptan a todos los estilos y necesidades. Nuestro compromiso con la calidad y la innovación nos distingue en la industria del maquillaje.</p>
        <p>Únete a nosotros en este viaje de belleza y descubre todo lo que Lilian's tiene para ofrecerte.</p>
    </div>
</body>
